.conteudo{
    display: flex;
    flex-direction: column;
    grid-template-columns: 75;
    background-color: rgba(255, 253, 253);
    box-shadow: inset 0px 0px 50px -7px rgba(255, 255, 255, 0.87);
}


/* cr10 */
.lema{
    background-image: url("../../imagens/1.png");
    background-size: 100% 100%;
    padding: 5% 3% 10% 3%;
}
.lema h1{
    color: #7ca3c6;
    margin: 60px 0 5% 40px;
    font-size: 14px;
    font-weight: bold;
    font-family: Ubuntu;
    text-transform: uppercase;
}
.lema p{
    padding: 0 20px 0 20px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    font-family: Ubuntu;
    text-align: justify;
}

.fundadores{
    border-bottom: solid;
    border-top: solid;
    border-color: #7ca3c6;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
}
.fundadores .layout1{
    padding-left: 5%;
    margin-top: 4%;
    display: grid;
    grid-template-areas: 
        "imagem titulo"
        "imagem texto"
    ;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.fundadores .layout2{
    padding-left: 2%;
    margin-top: 4%;
    display: grid;
    grid-template-areas: 
        "titulo imagem"
        "texto imagem"
    ;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
}

.fundadores h1{
    grid-area: titulo;
    color: #7ca3c6;
    padding: 5% 0 0 0;
    text-align: center;
    font-family: Ubuntu;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.fundadores p{
    grid-area: texto;
    padding: 6%;
    text-align: justify;
    font-family: Ubuntu;
    font-size: 14px;
}
.fundadores .perfil{
    align-self: center;
    border-radius: 100%;
    width: 100px;
    grid-area: imagem;
    box-shadow: 6px 9px 35px 3px rgba(0,0,0,0.25);
}

.historia{
    border-top: solid;
    border-color: #7ca3c6;
    border-width: 2px;
    background-color: rgb(247, 247, 247);
    padding-bottom: 4%;
}
.historia h1{
    text-align: center;
    color: #7ca3c6;
    padding: 20px 0 20px 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: Ubuntu;
    text-transform: uppercase;
}
.historia p{
    margin: 0px 20px 0 20px;
    text-align: justify;
    font-size: 14px;
    font-family: Ubuntu;
}

.missao{
    border-top: solid;
    border-color: #7ca3c6;
    border-width: 2px;
    margin-bottom: 10px;
}
.missao h1{
    text-align: center;
    grid-area: titulo;
    color: #7ca3c6;
    padding: 20px 0 20px 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: Ubuntu;
    text-transform: uppercase;
}
.textoMissoes{
    display: grid;
    background-image: url("../../imagens/3.png");
    background-size: 100% 100%;
    grid-template-areas:
        "vazio texto"
    ;
    grid-template-columns: 40% 60%;
}
.textoMissoes .filtroTexto{
    grid-area: texto;
    background-color: rgb(255, 255, 255);
    opacity: 0.651;
}
.textoMissoes p{
    padding: 20px 20px 20px 20px;
    text-align: justify;
    font-size: 14px;
    font-family: Ubuntu;
}
.textoMissoes img{
    width: 100%;
}
  
.valores{
    border-top: solid;
    border-color: #7ca3c6;
    border-width: 2px;
}
.valores h1{
    text-align: left;
    color: #7ca3c6;
    padding: 20px 0 20px 50px;
    font-size: 14px;
    font-weight: bold;
    font-family: Ubuntu;
    text-transform: uppercase;
}